{% extends "layoutadmin.html" %}

{% block content %}
<h1>หน้าหลัก แอดมิน</h1>

<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card bg-light">
          <div class="card-header text-white" style="background-color: #00AA9E;">
            ...
          </div>
          <div class="card-body">
            <h4 class="card-title">จัดการข้อมูลคลังข้อสอบทักษะภาษาอังกฤษ</h4>
            <p class="card-text"></p>
            <a href="{{ url_for('exambank')}}" class="btn btn-primary">Go</a>
          </div>
        </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
        <div class="card-header text-white" style="background-color: #3451a1;">
          ...
        </div>
        <div class="card-body">
          <h4 class="card-title">ข้อมูลทักษะภาษาอังกฤษของนักศึกษา</h4>
          <p class="card-text"></p>
          <a href="{{ url_for('eng_data')}}" class="btn btn-primary">Go </a>
        </div>
      </div>
</div>
<div class="col-sm-6"><br>
  <div class="card">
      <div class="card-header text-white" style="background-color: #60a134;">
        ...
      </div>
      <div class="card-body">
        <h4 class="card-title">ข้อมูลทักษะดิจิทัล</h4>
        <p class="card-text"></p>
        <a href="/edt_data" class="btn btn-primary">Go </a>
      </div>
    </div>
</div>
<div class="col-sm-6"><br>
  <div class="card">
      <div class="card-header text-white" style="background-color: #a1347d;">
        ...
      </div>
      <div class="card-body">
        <h4 class="card-title">จัดการข้อมูลแอดมิน</h4>
        <p class="card-text"></p>
        <a href="{{ url_for('m_admin')}}" class="btn btn-primary">Go </a>
      </div>
    </div>
</div>
<div class="col-sm-6"><br>
  <div class="card">
      <div class="card-header text-white" style="background-color: #a17b34;">
        ...
      </div>
      <div class="card-body">
        <h4 class="card-title">จัดการข้อมูลนักศึกษา</h4>
        <p class="card-text"></p>
        <a href="{{ url_for('m_student')}}" class="btn btn-primary">Go </a>
      </div>
    </div>
</div>
</div>


{% endblock %}