{% extends "layoutadmin.html" %}

{% block content %}
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.5/css/dataTables.dataTables.css">
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.1.5/js/dataTables.js"></script>
<script>$(document).ready(function() {
  $('#example thead tr').clone(true).appendTo( '#example thead' );
  $('#example thead tr:eq(1) th').each( function (i) {
      var title = $(this).text();
      $(this).html( '<input type="text" placeholder="Search '+title+'" />' );

      $( 'input', this ).on( 'keyup change', function () {
          if ( table.column(i).search() !== this.value ) {
              table
                  .column(i)
                  .search( this.value )
                  .draw();
          }
      } );
  } );

  var table = $('#example').DataTable( {
      orderCellsTop: true,
      fixedHeader: true,
      "language": {
      "info": "แสดงผล _START_ ถึง _END_ จากทั้งหมด _TOTAL_ รายการ"
  }
  } );
} );</script>

<style>
  tfoot input {
      width: 100%;
      padding: 3px;
      box-sizing: border-box;
  }
</style>
<div style="text-align: center;"><h1>ข้อมูลทักษะภาษาอังกฤษ</h1></div>
<div class="container-fluid border">
<table class="table table-striped ">
    <thead class="table-light">
      <tr class="table-warning">
        <th scope="col">ปีที่เข้า</th>
        <th scope="col">A1</th>
        <th scope="col">A2</th>
        <th scope="col">B1</th>
        <th scope="col">B2</th>
        <th scope="col">C1</th>
        <th scope="col">C2</th>
        <th scope="col">ผลรวมทั้งหมด</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">64</th>
            <td>{{ group_counts['count64_A1'] }}</td>
            <td>{{ group_counts['count64_A2'] }}</td>
            <td>{{ group_counts['count64_B1'] }}</td>
            <td>{{ group_counts['count64_B2'] }}</td>
            <td>{{ group_counts['count64_C1'] }}</td>
            <td>{{ group_counts['count64_C2'] }}</td>
            <td>{{sumall_64}}</td>
          </tr>
          <tr>
            <th scope="row">65</th>
            <td>{{ group_counts['count65_A1'] }}</td>
            <td>{{ group_counts['count65_A2'] }}</td>
            <td>{{ group_counts['count65_B1'] }}</td>
            <td>{{ group_counts['count65_B2'] }}</td>
            <td>{{ group_counts['count65_C1'] }}</td>
            <td>{{ group_counts['count65_C2'] }}</td>
            <td>{{sumall_65}}</td>
          </tr>
          <tr>
            <th scope="row">66</th>
            <td>{{ group_counts['count66_A1'] }}</td>
            <td>{{ group_counts['count66_A2'] }}</td>
            <td>{{ group_counts['count66_B1'] }}</td>
            <td>{{ group_counts['count66_B2'] }}</td>
            <td>{{ group_counts['count66_C1'] }}</td>
            <td>{{ group_counts['count66_C2'] }}</td>
            <td>{{sumall_66}}</td>
          </tr>
          <tr>
            <th scope="row">67</th>
            <td>{{ group_counts['count67_A1'] }}</td>
            <td>{{ group_counts['count67_A2'] }}</td>
            <td>{{ group_counts['count67_B1'] }}</td>
            <td>{{ group_counts['count67_B2'] }}</td>
            <td>{{ group_counts['count67_C1'] }}</td>
            <td>{{ group_counts['count67_C2'] }}</td>
            <td>{{sumall_67}}</td>
          </tr>
          <tr>
            <th scope="row">ผลรวมทั้งหมด</th>
            <td>{{ group_sums['sum_A1'] }}</td>
            <td>{{ group_sums['sum_A2'] }}</td>
            <td>{{ group_sums['sum_B1'] }}</td>
            <td>{{ group_sums['sum_B2'] }}</td>
            <td>{{ group_sums['sum_C1'] }}</td>
            <td>{{ group_sums['sum_C2'] }}</td>
            <td>{{sumall}}</td>
          </tr>
    </tbody>
  </table>
</div>
<br>
<div class="container-fluid border">
  <div class="table-responsive">
    <table id="example" class="display table table-striped" style="width:100%">
      <thead>
        <tr>
          <th scope="col">รหัสนักศึกษา</th>
          <th scope="col">ชื่อ นามสกุล</th>
          <th scope="col">คะแนน</th>
          <th scope="col">ระดับทักษะ</th>
          <th scope="col">คณะ</th>
          <th scope="col">สาขา</th>
        </tr>
      </thead>
      <tbody>
        {% for item in data %}
        <tr>
          <td>{{ item['student_id'] }}</td>
          <td>{{ item['full_name'] }}</td>
          <td>{{ item['score_ept']}}</td>
          <td>{{ item['group_'] }}</td>
          <td>{{ item['fac_name_th'] }}</td>
          <td>{{ item['program_name_th'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>รหัสนักศึกษา</th>
          <th>ชื่อ นามสกุล</th>
          <th>คะแนน</th>
          <th>ระดับทักษะ</th>
          <th>คณะ</th>
          <th>สาขา</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
{% endblock %}