{% extends "indexlayout.html" %}

{% block content %}
{{i}}
<h2>ทักษะภาษาอังกฤษ</h2>
<div class="row">
    <div class="col-sm-6">
      <div class="card  border-warning">
        <div class="card-body">
          <h5 class="card-title">การสอบวัดระดับทักษะภาษาอังกฤษ</h5>
          <p class="card-text">คำอธิบายเพิ่มเติม</p>
          <a href="/start" class="btn btn-primary">สอบ</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card border-info">
        <div class="card-body">
          <h5 class="card-title">ผลการสอบวัดระดับทักษะภาษาอังกฤษ</h5>
          <p class="card-text">คำอธิบายเพิ่มเติม</p>
          <a href="/exam_result" class="btn btn-primary">ดูคะแนน</a>
        </div>
      </div>
    </div>
  </div> 
{% endblock %}