{% extends "indexlayout.html" %}

{% block content %}
<div class="container mt-5 border">
<h1>Quiz</h1>
<form method="post">
    {% for question in q_data %}
    <div>
        <p><strong>{{ question.1}}</strong></p>
        <input type="radio" name="q_{{ question.0 }}" value="A" required> {{ question.2 }}<br>
        <input type="radio" name="q_{{ question.0 }}" value="B" required> {{ question.3 }}<br>
        <input type="radio" name="q_{{ question.0 }}" value="C" required> {{ question.4 }}<br>
        <input type="radio" name="q_{{ question.0 }}" value="D" required> {{ question.5 }}<br>
    </div>
    {% endfor %}
    <button type="submit">Submit</button>
</form>
<a href="">Next Page</a>
</div>
{% endblock %}